<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>nmcspadden</string>
		<key>creation_date</key>
		<date>2015-05-08T18:46:42Z</date>
		<key>munki_version</key>
		<string>2.2.4.2431</string>
		<key>os_version</key>
		<string>10.10.3</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>release</string>
	</array>
	<key>display_name</key>
	<string>iMovie</string>
	<key>installer_item_hash</key>
	<string>dd93ed48888573628fcc82c1daec1a4098203038daf20ff29aa49e7bf5ebbe59</string>
	<key>installer_item_location</key>
	<string>apps/apple/iMovie-10.0.8.dmg</string>
	<key>installer_item_size</key>
	<integer>1970278</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iMovieApp</string>
			<key>CFBundleName</key>
			<string>iMovie</string>
			<key>CFBundleShortVersionString</key>
			<string>10.0.8</string>
			<key>CFBundleVersion</key>
			<string>263316</string>
			<key>minosversion</key>
			<string>10.10.2</string>
			<key>path</key>
			<string>/Applications/iMovie.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>iMovie.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.10.2</string>
	<key>name</key>
	<string>iMovie</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>10.0.8</string>
</dict>
</plist>
