<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>nmcspadden</string>
		<key>creation_date</key>
		<date>2015-05-07T22:33:28Z</date>
		<key>munki_version</key>
		<string>2.2.4.2431</string>
		<key>os_version</key>
		<string>10.10.3</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>Java SE Runtime Environment 8 enables support for running Java-powered applets and applications.</string>
	<key>display_name</key>
	<string>Oracle Java 8</string>
	<key>installed_size</key>
	<integer>164232</integer>
	<key>installer_item_hash</key>
	<string>36cd35c8cb4170ea58b67984b76010b3e9913975215633d3adee2079375b39e2</string>
	<key>installer_item_location</key>
	<string>plugins/Java/OracleJava8-1.8.45.14.pkg</string>
	<key>installer_item_size</key>
	<integer>59338</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleShortVersionString</key>
			<string>1.8.0_45</string>
			<key>CFBundleVersion</key>
			<string>11.45.2.14</string>
			<key>path</key>
			<string>/Library/Internet Plug-Ins/JavaAppletPlugin.plugin/Contents/Home/lib/deploy/JavaControlPanel.prefPane</string>
			<key>type</key>
			<string>bundle</string>
			<key>version_comparison_key</key>
			<string>CFBundleVersion</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.7.3</string>
	<key>name</key>
	<string>OracleJava8</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>164232</integer>
			<key>packageid</key>
			<string>com.oracle.jre</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>uninstall_script</string>
	<key>uninstall_script</key>
	<string>#!/bin/sh
            # From http://www.java.com/en/download/help/mac_uninstall_java.xml
            rm -fr /Library/Internet\ Plug-Ins/JavaAppletPlugin.plugin
            pkgutil --forget com.oracle.jre
            </string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.8.45.14</string>
</dict>
</plist>
